
* {
    box-sizing: border-box;
}

body {
    margin: 20px auto;
    width: 75%;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


header {
    background: linear-gradient(to right, #0000ff 0%, #000066 90%);
    text-align: center;
    color: whitesmoke;
}
